@import "tailwindcss";

:root {
  --color-bg: #f2efe7;
  --color-secondary-bg: #9acbd0;
  --color-tertiary-bg: #d0e8f2;
  --color-primary: #48a6a7;
  --color-secondary: #137f86;
  --color-brand: #006a71;
  --color-text: #333;
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-primary);
  --font-title: var(--font-barriecito-sans);
  --font-sans: var(--font-indie-flower);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-bg);
    --foreground: var(--color-primary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
